<ion-view title="About">
    <ion-content class="has-header padding fade-in">
        <p class="text-center">
            <img src="img/myshit.png" width="224px" height="224px">
        </p>
        <div class="card">
            <div class="item item-text-wrap">
                <p class="about-description">
                    MyShit is an application to help people with problems of constipation. He helps monitor and create a track record of their trips to the bathroom and sends notifications to alert you when you are a long time without going to the bathroom.
                </p>
            </div>
        </div>
        <p class="dash-title text-center">
            Created By
        </p>
        <p class="author">
            <button class="button button-block button-dark">Christopher EnyTC</button>
        </p>
    </ion-content>
</ion-view>
