<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.enytc.myshit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MyShit</name>
  <description>
        An app for those who suffer from constipation
  </description>
  <author email="chris.enytc@gmail.com" href="http://chris.enytc.com">
      Christopher EnyTC
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>